{% extends "base.html" %}

{% block content %}
    {% if not user.is_superuser %}
        <!-- Start Shop Page  -->
        <div class="shop-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                        <div class="right-product-box">
                            <div class="product-categorie-box">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                        <div class="row">
                                            {% for product in product_list %}
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix">
                                                        <div class="box-img-hover">
                                                            <div class="type-lb">
                                                                <p class="sale">Sale</p>
                                                            </div>
                                                            <img src="{{ product.picture.url }}" class="img-fluid"
                                                                 alt="{{ product.name }}">
                                                            {% if user.is_authenticated %}
                                                                <div class="mask-icon">
                                                                    <a class="cart"
                                                                       href="{% url "product:product-detail" product.slug %}">Buy</a>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="why-text">
                                                            <h4>
                                                                <a href="{% url "product:product-detail" product.slug %}">{{ product.name }}</a>
                                                            </h4>
                                                            <h5>${{ product.price }}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Shop Page -->
    {% endif %}

    {% if user.is_superuser %}
        <!-- Start Shop Page  -->
        <div class="shop-box-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                        <div class="right-product-box">
                            <div class="product-categorie-box">
                                <div class="tab-content">
                                    <div role="tabpanel" id="grid-view">
                                        <div>
                                            <div class="why-text full-width list-view-box row">
                                                <a class="btn hvr-hover" href="{% url "product:product-create" %}">Create
                                                    new product</a>
                                            </div>
                                        </div>
                                        {% for product in product_list %}
                                            <div class="list-view-box">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                        <div class="products-single fix">
                                                            <div class="box-img-hover">
                                                                <img src="{{ product.picture.url }}" class="img-fluid"
                                                                     alt="{{ product.name }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                        <div class="why-text full-width">
                                                            <h4>
                                                                <a style="color: #1b1e21; padding-left: 5px"
                                                                   href="{% url "product:product-detail" product.slug %}">{{ product.name }}</a>
                                                            </h4>
                                                            <h5 style="font-weight: normal; background: whitesmoke;">
                                                                Price:</h5>
                                                            <h5>
                                                                ${{ product.price }}
                                                            </h5>
                                                            <h5 style="font-weight: normal; background: whitesmoke;">
                                                                Count:</h5>
                                                            <h5>
                                                                {{ product.count }}
                                                            </h5>
                                                            <p>{{ product.description }}</p>
                                                            <a class="btn hvr-hover"
                                                               href="{% url "product:product-update" product.slug %}">Change</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Shop Page -->
    {% endif %}

{% endblock %}