{% extends "base.html" %}

{% block content %}

    <div class="col-md-12 col-lg-12">
        <div class="odr-box">
            <div class="title-left">
                <h3>Shopping cart</h3>
            </div>
            <div class="rounded p-2 bg-light">
                {% if messages %}
                    <ul class="messagelist">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }} available-stock"
                                                     style="color:red;"{% endif %} >{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for refund in refund_list %}
                    <div class="media mb-2 border-bottom">
                        <div class="media-body"><a href="detail.html"> Refund #{{ refund.id }} for order #{{ refund.order.id }}
                            {% if user.is_superuser %}, user: {{ refund.order.user.username }}{% endif %}</a>
                            <div class="small text-dark">
                                Product: {{ refund.order.product.name }}
                                <span class="mx-2">|</span>
                                Price: ${{ refund.order.product.price }}
                                <span class="mx-2">|</span>
                                Qty: {{ refund.order.count }}
                                <span class="mx-2">|</span>
                                Subtotal: ${% widthratio refund.order.product.price 1 refund.order.count %}
                                <span class="mx-2">|</span>
                                Order created at: {{ refund.order.created }}
                                <span class="mx-2">|</span>
                                Refund created at: {{ refund.created }}
                            </div>
                        </div>
                        <div class="">
                            <a class="btn btn-outline-success"
                               href="{% url "order:refund-approve" refund.id %}">Approve</a>
                        </div>
                        <div class="">
                            <a class="btn btn-outline-danger"
                               href="{% url "order:refund-approve" refund.id %}">Reject</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

